
@font-face {
    font-family: 'MICEGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'MICEGothic';
    background-image: linear-gradient(90deg, #368aa7, #5e62b0, #b83771);
}

.mainouter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-control {
    /*counter-reset: line;*/
    /*width: 700px;*/
    /*height: 700px;*/

}
.form-group {
    display: inline-block;

}

.ejtest {
    background-color: black;
    color: white;
    border: 1px solid black;
    position: relative;
    height: 500px;
    width: 500px;
    margin: 15px auto
}

.btn.btn-light {
    margin: 10px;
}